.features {
    margin: 0 auto;
}

.features .container{
    
}

.features-list {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
column-gap: 24px;
row-gap: 72px;
}

.features-list-item {
    width: 288px;
}

.features-list-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;



}

.features-description {
    font-weight: 500;


}
@media screen and (max-width: 768px) {
.features-description{
    width: 264px;
}
    
}

.icons-contur{
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;

}

@media screen and (max-width: 1158px) {
    .icons-contur{
        display: none;
    }
    
}

@media screen and (min-width: 768px) {
.features-list{
    flex-wrap: wrap;
    flex-direction: row ;
    
}
.features-list-item{
    width: 356px;
}
.features-list-title{
    text-align: start;
}
}


@media screen and (min-width: 1158px) {
.features-list{
    flex-wrap: nowrap;
    gap: 24px;

}
.features-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-description{
font-weight: 400;
}
}