.footer {
    padding: 100px 0px;
    background: #2e2f42;
}


.footer .container {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
}


.footer-info {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #f4f4fd;
    width: 264px;
}

.footer-logo .logo-accent {
    color: #4d5ae5;
}


.footer-logo .logo-light {
    color: #f4f4fd;
}
 

.footer-social-media {
    margin-right: 83px;

 
}

.footer-title-media {
    font-weight: 500;
    margin-bottom: 16px;
    color: #ffffff;
}

.footer-media-list {
    display: flex;
    gap: 16px;
    align-items: center;

}

.footer-media-item {
    

}

.footer-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-media-link svg {
    fill: #f4f4fd;
}

.footer-media-item .footer-media-link:focus,
.footer-media-item .footer-media-link:hover{
    background-color: #31D0AA;
}

.footer-subscribe{

}

.footer-subscribe-text {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}
.subscribe-form {
    display: flex;
    align-items: center;
}
.subscribe-label {
    margin-left: auto;

}
.subscribe-email {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    outline: none;  
    padding: 8px 16px;
    background-color: transparent ;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 24px;
}
.subscribe-email:focus{
border: 1px solid #31d0aa;
}


.subscribe-email::placeholder{
    color:#fff;
}



.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-height: 40px;
    min-width: 165px;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    gap: 16px;
}

.btn-subscribe:focus,
.btn-subscribe:hover{
    background-color: #31d0aa;}
.subscribe-icon {
    fill: white;
}