.header{
}

.logo{
    padding: 16px 0;
    display: flex;
    align-items: center;
    font-family: 'Raleway',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
.header-logo .logo-accent {
    color: #4d5ae5;
}

.header-logo .logo-dark {
    color: #2e2f42;
}

.header > .container{
    display: flex;
    align-items: center;
}
.header-menu-button{
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px;
    margin-left: auto;
}

.menu-burger{

}

@media screen and (max-width: 767.98px) {
.header-nav,
.address{
    display: none;
}
}

@media screen and (min-width: 768px) {
.header{
    padding: 24px 0;
}
.logo{
    padding: 0;
}
.header-nav {
    margin-left: 120px;
    margin-right: auto;
  
}
.header-nav-list {
    display: flex;
    gap: 40px;

}
.header-nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

}
.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-nav-link.current,
.header-nav-link:focus,
.header-nav-link:hover,
.contacts-link:focus,
.contacts-link:hover {
    color: #404bbf;
}
.header-nav-link.current {
    position: relative;
}

.header-nav-link.current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: 0;

}
.header-menu-button{
    display: none;
}

}

@media screen and (min-width: 1158px) {
.header-nav {
    margin-left: 76px;
  
}  
.contacts {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}
.contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

